# --- DATABASE CONFIGURATION ---
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sugity_camera_db
DB_USER=postgres
DB_PASSWORD=user

# Opsional: Bisa gunakan DATABASE_URL langsung
DATABASE_URL=postgresql://postgres:user@localhost:5432/sugity_camera_db

# --- SERVER CONFIGURATION ---
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# --- SECURITY & JWT ---
SECRET_KEY=sugity_super_secret_jwt_key_2026
ACCESS_TOKEN_EXPIRE_MINUTES=480
